.small {
  background-color: red;
  color: white;
  width: 5rem;
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  font-family: "Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif";

  font-weight: bold;
}

.medium {
  background-color: rgb(229, 9, 20, 1);
  color: white;
  width: auto;
  height: 2rem;
  min-height: 2rem;
  border: none;
  border-radius: 0.25rem;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: "Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif";
  font-size: 0.875rem;
  font-weight: 500;
}
.medium:hover {
  cursor: pointer;
  /* opacity: 0.4; */
  background-color: rgb(209, 22, 31);
  transition-duration: 250ms;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}
