
.signin_page {
    width: 100vw;
    height: 100vh;
    background-image: url("/src/source/banner.jpg");
}

.shadow {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nflogo{
    position: absolute;
    top: 10px;
    left: 31px;
}

.signin {
    padding:50px 80px;
    width: 280px;
    
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
}

.check {
    display: flex;
    font-size: small;
    justify-content: space-between;
    color: #b3b3b3;
}

.remember {
    display: flex;
    align-items: center;
}

.head {
    color: #fff;
    text-align: left;
    font-weight: 500;
}

.btn {
    width: 100%;
    padding: 16px;
    margin: 24px 0 12px 0;
    background-color: #E50914;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.new {
    display: flex;
    align-items: center;
    color: #737373;
    font-size: medium;
}

.new a {
    font-size: medium;
    color: #fff;
    text-decoration: none;
}

.new a:hover {
    text-decoration: underline;
}

.capt {
    font-size: small;
    color: #8c8c8c;
}

.form_btn {
    display: flex;
    flex-direction: column;
    gap: 12px;
}