.helpertext{
    font-size: x-small;
    font-weight: 300;
    color: #e87c03;
}
.email{
    width: auto;
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.input{
    padding: 16px;
    font-size: smaller;
    border-radius: 4px;
    outline: none;
    background-color: rgba(60, 60, 60, 0.9);
    /* background: transparent; */
    border: none;
    color: #fff;
    
}
.label{
    color: rgb(133, 133, 133);
    font-size: smaller;
    position: absolute;
    top: 13px;
    left: 8px;
}
input:focus+label,input:not(:placeholder-shown)+label{
    top: 2px;
    font-size: x-small;
}

.width-full{
    padding: 30px 150px 10px 14px;
}
.inputBg{
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
