.textField{
    text-align: center;
    width: auto;
}
.small{
    font-size: small;
    color: #fff;
}
.medium{
    font-size: medium;
}
.large{
    font-size: large;
}
.xlarge{
    font-size: x-large;
}